@import "./variables.scss";
@import "./mixin.scss";

.searchResult-wrapper {
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: none;
}

.search-panel {
    position: relative;
}

// SEARCHBOX

.searchBox-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        width: 100%;
    }

    input {
        width: 100%;
        margin: 1rem auto;
        border-radius: 2px;
        border: 1px solid $third-color;
        padding: 0.6rem;
        background-color: $third-color;
        transition: 0.2s ease-in-out;

        &:focus {
            transition: 0.2s ease-in-out;
            background-color: $fourth-color;
            outline: none;
        }
    }
}

// VOICESEARCH
.voiceSearch-wrapper {
    width: 100%;

    .ais-VoiceSearch {
        position: absolute;
        right: 3rem;
        top: 30%;
        cursor: pointer;
        .ais-VoiceSearch-button {
            position: unset;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}
.ais-VoiceSearch-status {
    display: none;
}

//SORT BY and STATS

.sort-and-stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: -1rem auto 2rem auto;
    .ais-Stats-text {
        color: $sixth-color;
    }
}
.ais-SortBy-select {
    @include btn;
    .ais-SortBy-option {
        color: $sixth-color;
        @include title;
    }
}

//SEARCHRESULT

.hits-list {
    @include hits-list;

    .hit-list {
        @include hit-list;
    }
}

.searchPanel-results {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 3rem auto;
    position: relative;

    .filters-wrapper {
        width: 20%;
        will-change: width;
    }

    .hits-wrapper {
        width: 100%;
    }
}

//SUGGESTIONS

.suggestions-container {
    display: flex;
    justify-content: center;

    .suggestion {
        margin: 0.5rem;
        border: solid 1px $third-color;
        color: black;
        border-radius: 3px;
        padding: 0.5rem;
        cursor: pointer;
        p {
            font-size: 0.8rem;
            text-transform: capitalize;
        }

        &:hover {
            @include btn-hover;
        }
    }
}

.active {
    // display: block;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    display: block;
}

.hidden {
    // display: none;
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
    100% {
        height: 100%;
        opacity: 1;
        visibility: visible;
        display: block;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
        height: 100%;
    }

    90% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
    }
}
